@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.container {
    display: flex;
    justify-content: center;
    margin: 10rem 0 4rem;
    flex-wrap: wrap;
    .image{
        padding-right: 2rem;
        img{
            width: 24rem;
        }
    }
    .title {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.25;
        margin:2rem 0;

        color: #4F4F4F;
    }

    .bgTitle {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.25;
        margin: 130px 0 60px;

        color: #4F4F4F;
    }

    .text{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        p {
            margin-bottom: 1rem;
            font-family: "Roboto", sans-serif;
            color: #000000;
            line-height: 142%;
            max-width: 37rem;
        }
    }
    .btn{
        display: flex;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                margin-right: 2rem;
                .text{
                    width: 100%;
                    color: #3C3C43;
                    font-size: 1.125rem;
                    line-height: 34px;
                    padding-bottom: 3px;
                    font-family: "Roboto", sans-serif;
                    border-bottom: 2px solid #3C3C43;
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .image{
        padding-right: 0(!important);
    }

    .text p {
        margin-right: 0;
    }

    .container {
        width: 100%;
        align-items: center;

        & > * {
            width: 80%;
            min-width: 320px;
        }
    }
}

@media (max-width: 1000px) {
    .image img {
        width: 100% !important;
    }

}


@media (max-width: 860px) {
    .container {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        .title {
            margin: 1.25rem 0;
        }

        .bgTitle {
            margin: 1.25rem 0;
        }

        .text {
            margin-bottom: 20px;
        }
    }

}